/* OSWALD */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
/* FREDOKA */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
/*  EPILOGUE */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

:root {
  --primary-color: #f3274c;
  --secondary-color: #ffd40d;
  --oswald-font: "Oswald", sans-serif;
  --navitem-color: #212121;
  --navbutton-color: #ffc222;
  --fredoka-font: "Fredoka", sans-serif;
  --epilogue-font: "Epilogue", sans-serif;
  --popular-food-details-color: #00A149;
}

/* FONT START */
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.epilogue {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* FONT END */

.testnest-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  padding-block: 10px;
}

.testnest-nav>img {
  width: 150px;
  height: 73px;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navLinks a {
  font-family: var(--oswald-font);
  font-weight: bold;
  color: var(--navitem-color);
  text-decoration: none;
  font-size: 18px;
}

.navLinks div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.right-nav-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-nav-container a img {
  width: 19.13px;
  height: 28px;
}

.right-nav-container button:nth-child(2) {
  border: none;
  background-color: var(--navbutton-color);
  border-radius: 7px;
  width: 181.91px;
  height: 57px;
  font-size: 17px;
  font-family: var(--oswald-font);
  color: white;
}

.right-nav-container button:nth-child(3) {
  border: none;
  background: none;
  width: 31px;
  height: 18px;
}

.hero-section {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: url("/assets/01.png");
  background-size: cover;
  background-position: center;
  color: white;
}


.hero-text-container h1 {
  font-family: var(--fredoka-font);
  font-size: 60px;
  font-weight: 600;
  font-style: regular;
  width: 609.45px;
}

.hero-text-container div p {
  width: 580.76px;
  font-family: var(--epilogue-font);
  font-optical-sizing: auto;
  font-weight: normal;
  /* font-style: normal; */
  font-size: 20px;
  line-height: 25px;
  margin-block: 20px;
}


.hero-text-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-menu-btn {
  border: 3px solid var(--primary-color);
  width: 180.41px;
  height: 68.19px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}


.hero-menu-btn button {
  width: 189.91px;
  height: 55px;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: white;
  font-family: var(--fredoka-font);
  font-size: 18px;
  font-weight: bold;
  border: none;
  margin-left: -20px;
}


.hero-text-btns button:nth-child(2) {
  font-family: var(--fredoka-font);
  font-weight: 400;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 40px;
  line-height: 25px;
}

.hero-card {
  width: 399.22px;
  height: 192px;
  display: flex;
  justify-content: space-between;
  padding-inline: 25px;
  align-items: center;
  border: 3px solid var(--secondary-color);
  border-radius: 30px;
  background-color: #000000CC;
  position: relative;
}

.hero-card>img {
  width: 150px;
  height: 150px;
}

.hero-card h1 {
  font-size: 28px;
  font-family: var(--fredoka-font);
  font-weight: 300px;
}

.hero-card h2 {
  font-size: 22px;
  font-family: var(--fredoka-font);
  margin-block: 10px;
}

.hero-card-label {
  width: 125px;
  height: 26.33px;
  border-radius: 5px;
  color: white;
  background-color: var(--primary-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  right: 40px;
}

.hero-card-label p {
  font-family: var(--epilogue-font);
  font-size: 14px;
  font-weight: normal;
}

.hero-card-container {
  height: 80vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
}

.popular-food-container {
  background-color: #F5F8FD;
}

.popular-food-details {
  display: flex;
  justify-content: space-between;
  margin-inline: 40px;
  align-items: center;
  padding: 70px 0 30px 0;
}

.popular-food-text h3 {
  font-family: var(--oswald-font);
  font-size: 17px;
  font-weight: 700;
  font-style: bold;
  color: var(--popular-food-details-color);
}

.popular-food-text h2 {
  font-family: var(--oswald-font);
  font-size: 60px;
  font-style: bold;
  font-weight: 700;
  color: var(--navitem-color);
}

.popular-food-text-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.popular-food-text-btn-one {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-food-text-btn-two {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: var(--navbutton-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-food-text-btns img:nth-child(1) {
  width: 15.08px;
  height: 17px;
  color: var(--navbutton-color);
}

.popular-food-text-btns img:nth-child(2) {
  width: 15.08px;
  height: 17px;
  color: white;
}

.popular-food-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 90px;
}

.super-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 90px;
}

.global {
  margin-bottom: 30px;
}

.global h2 {
  font-family: var(--oswald-font);
  font-size: 20px;
  font-weight: 600;
  margin-left: 50px;
}

.global span {
  color: var(--navbutton-color);
  font-family: var(--oswald-font);
  font-size: 20px;
  font-weight: 600;
}

.popular-food-icon {
  margin-left: 50px;
  display: flex;
  align-items: center;
  gap: 80px;
  padding-bottom: 40px;
}